.box {
  box-sizing: border-box;
  width: 50%;
  padding: 3%;
  text-align: center;
  margin: 50%;
  margin-top: 1%;
  color: rgb(230, 230, 230);
  line-height: 27px;
  margin-bottom: 1%;
  background-color: rgb(28, 36, 54);
  height: 98%;
  border-radius: 10%;
}

.profile {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 50vh;
  padding: 20px;
}

.aboutMe {
  color: rgb(230, 230, 230);
  font-size: 1.5vw;
  line-height: 120%;

  margin-top: 2%;
  margin-bottom: 6%;
}

.social {
  color: rgb(230, 230, 230);
  text-align: center;
  font-size: 3vh;
  padding: 0px;
}

.social ul {
  padding: 0px;
}

.social li {
  display: inline-block;
  margin: 0 20px;
  list-style: none;
}

.social li a {
  color: rgb(230, 230, 230);
  text-decoration: none;
  font-size: 4vw;
}

.social li a:hover {
  color: rgb(65, 185, 240);
}
