@import "_profileBox.scss";
@import "_uclalogo.scss";
@import "_experience.scss";
@import "_skills.scss";

body {
  //background: rgb(20, 25, 44);
  background: rgb(20, 63, 88);
  color: rgb(230, 230, 230);
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

.orange {
  background-color: transparent;
  color: rgb(236, 177, 88);

}

.firstPage {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 98%;
  height: 100vh;

  border-bottom: 5px solid rgb(99, 105, 114);
  box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
}

.experience {
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 98%;
  height: auto;

  border-bottom: 5px solid rgb(99, 105, 114);
  box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
}

.skills {
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 98%;
  height: auto;

  border-bottom: 5px solid rgb(99, 105, 114);
  box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
}